@mixin center{
    display: flex;    
    align-items: center;
    justify-content: center;
}
@mixin about {    
    display: flex;        
    justify-content: center;
    align-items: center;
    flex-direction: column;                       
    text-align: center;
}

